# ホワイトリスト形式にする
## この場合、フォルダの取り扱いに気をつけて
### まず、フォルダ全体は無視しないとしてから、
#### 特定のフォルダを許可するように設定　　

#全ファイルをignore
*

#全てのディレクトリをホワイトリストに追加
!*/


#/etc/ 下以降を個別に許可
!/etc/**
!.zshrc
!.gitignore
!README.md
!Makefile
!/doc/**
!.path
!.curlrc
!.tigrc
